/* --- Addon: Header Background Image --- */
.content:before {height: 416px; background: #393D41 url(%%headerimg-20150202%%) fixed no-repeat 33% 0}
    @media only screen and (min-width : 1920px) {.content:before {background-size: contain;}}

        /* Add or subtract THE SAME AMOUNT ON EACH OF THESE */
.content                        {margin-top:        342px;} 
.side                           {margin-top:        446px;} 
.search-page .side              {margin-top:        394px;} 
.comments-page .side            {margin-top:        558px;}
.res .comments-page .side       {margin-top:        572px;}
.comments-page .side .linkinfo  {margin-top:        246px;} 
#search, .search-page .morelink {top:               342px;} 
.morelink                       {top:               394px;}
#header-bottom-left             {top:               278px;}

#header .tabmenu li a, .pagename a {text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);}
#header .tabmenu li a:hover, .pagename a:hover {background-color: rgba(0, 0, 0, 0.12);}

/* --- End Addon --- */

/* --- Addon: Header Color (Primary Color) --- */
.content:before {background-color: #0af;}
/* --- End Addon --- */


/* --- Addon: Button color (Secondary Color) --- */
.morelink, .titlebox .fancy-toggle-button .add, .morelink:after, .content .infobar,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a, .submit-page .infobar, 
.submit-page #newlink.submit.content .btn, .drop-choices a.choice:hover, .linkflairlabel, .fancy-toggle-button .remove:active
.expando-button:hover, .top-page .content .menuarea .dropdown.lightdrop .selected, .expando-button:hover, .side .titlebox .md h3 a,
.res div.RES-keyNav-activeElement, .res div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {background-color: #f0a}

    /* Hover color = 10% white overlay color */
    .morelink:hover, .submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover,
    .side .titlebox .md h3 a:hover, .titlebox .fancy-toggle-button .add:hover, .titlebox .fancy-toggle-button .add:hover:after
     {background-color: #3df;}

    /* Active color = 10% black overlay color */
    .morelink:active, .side .titlebox .md h3 a:active {background-color: #07c;}

/* --- End Addon --- */


/* --- Addon: Link Color (Tertiary Color) - This color should be either similiar to the primary color, 
or to the secondary color. Else the page will become too busy.-- */
a, .link .entry .buttons li a.comments, .md a, .titlebox .tagline a.flairselectbtn, 
.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title, 
body .content .sitetable .link .title a:hover, .link .domain a:hover, .link .entry .buttons li a:hover, 
.link .entry .buttons li a.flairselectbtn, .comment .flat-list li a[onclick*="reply"], 
.comment .flat-list li a:hover, .tagline .submitter, .tagline .submitter, .side:after, 
.usertext .bottom-area a.reddiquette, .side .titlebox .md h6 a
 {color: #f0a;}
/* --- End Addon --- */